#loading {
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    display: none;
    overflow: hidden;
    z-index: 5;
}

#loading .loader {
    width: 100px;
    height: 100px;
    border-top: 5px solid rgb(237, 44, 73);
    border-radius: 50%;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}